**/*

!/.editorconfig
!/.eslint*
!/.gitignore
!/.gitmodules
!/.npmignore
!/.sasslint*
!/ambient.d.ts
!/build*
!/CHANGELOG*
!/LICENSE*
!/package*
!/README*
!/src/
!/tsconfig*
!/webpack*

!.idea/aw-clock.iml
!.idea/codeStyles/
!.idea/compiler.xml
!.idea/dictionaries/
!.idea/encodings.xml
!.idea/inspectionProfiles/
!.idea/jsLibraryMappings.xml
!.idea/markdown.xml
!.idea/modules.xml
!.idea/vcs.xml

!.vscode/settings.json

!/e2e/
!/img/
!/raspberry_pi_setup/

!/sass/package*

!/server/.eslint*
!/server/package*
!/server/src/**/*
!/server/tsconfig*
!/server/webpack*
