.DS_Store
.first-time-install
/coverage
/dist
/e2e/*.js
/e2e/*.map
node_modules
/server/dist
/server/tsc-out
/src/assets/audio/user
Thumbs.db
tmp
tsc-out

/.idea
!/.idea/aw-clock.iml
!/.idea/codeStyles/**
!/.idea/compiler.xml
!/.idea/dictionaries/**
!/.idea/encodings.xml
!/.idea/inspectionProfiles/**
!/.idea/jsLibraryMappings.xml
!/.idea/markdown.xml
!/.idea/modules.xml
!/.idea/vcs.xml

/.vscode/*
!/.vscode/settings.json
