$std-font: Verdana, "DejaVu Sans", sans-serif;
$clock-face-font: "Arial Unicode MS", Arial, Helvetica, sans-serif;
$constellation-font: Astronomy, sans-serif;
$dialog-font: Arial, sans-serif;
$planet-grid: #369;
$clock-border: #69C;
$risen-track: rgba(102, 204, 153, 0.5);

html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: white;
  background: midnightblue;
  font-family: $std-font;
  cursor: none;
}

@font-face {
  font-family: Astronomy;
  src: url("assets/Astronomy.ttf");
  unicode-range: U+263C-2653;
}

#marquee-outer-wrapper {
  position: fixed;
  left: 0;
  right: 170px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: midnightblue;
  font-size: 14px;
  padding: 2px 1em;
  overflow: hidden;
  white-space: nowrap;
}

#marquee-wrapper {
  display: inline-block;
  flex: 1 0 auto;
  position: relative;
  background: inherit;
  color: inherit;
  font: inherit;
  overflow: hidden;
}

.marquee-spacer {
  display: inline-block;
  background: inherit;
  color: inherit;
  font: inherit;
  user-select: none;
}

#marquee {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: inherit;
  color: inherit;
  font: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
}

#settings-btn {
  position: relative;
  top: -4px;
}

.darksky {
  position: fixed;
  right: 0;
  bottom: 0;
}

@media only screen and (max-height: 600px), only screen and (max-device-height: 600px) {
  #marquee {
    right: 128px;
  }

  .darksky {
    zoom: 0.75;
  }
}

#clock-container {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(1.556 * (100vh - 2em));
  padding: 1em;
  vertical-align: middle;
  overflow: hidden;
  background: midnightblue;
}

.clock-container-ie-fix {
  height: 100%;
}

@media only screen and (max-aspect-ratio: 43/27) {
  #clock-container {
    width: calc(100vw - 4em);
  }
}

#clock {
  font-family: $std-font;
  fill: white;
}

.clock-face {
  font-family: $clock-face-font;
  font-size: 10px;
  text-anchor: middle;
  fill: white;
  user-select: none;
}

#face {
  stroke-width: 1px;
  fill: black;
  stroke: $clock-border;
}

#hour-hand, #min-hand, #sec-hand {
  stroke-width: 1px;
  fill: #339;
  stroke: #66F;
}

#sec-hand { stroke: #f55; }

#subhub { fill: #66F; }

#hub { fill: #f55; }

#day-of-week, #date, #month {
  font-size: 10px;
}

#year {
  font-size: 8px;
}

#time {
  font-size: 10px;
}

#dut1-label, #dut1, #dtai, #dtai-label {
  font-size: 2px;
  fill: #888
}

#city {
  font-size: 3px;
}

#current-temp, #curr-temp-balance-space {
  font-size: 16px;
}

#indoor-temp {
  font-size: 10px;
}

#feels-like, #humidity {
  font-size: 6px;
}

#indoor-humidity {
  font-size: 3px;
}

.small-caption {
  font-size: 2.5px;
}

#timezone {
  font-size: 2px;
  fill: #888;
}

.dialog-wrapper {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.67);
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: $dialog-font;
  font-size: 14px;
  cursor: auto;
}

.dialog-buttons {
  position: absolute;
  bottom: 1em;
  right: 1em;
  left: 1em;
  display: flex;
  align-items: center;

  & button {
    min-width: 80px; // Ignored by macOS Chrome
  }

  & button:not(:first-child), span:not(:first-child) {
    margin-left: 0.5em;
  }
}

.version-number {
  flex-grow: 1;
  color: #CCC;
  font-size: smaller;
}

.alert-buttons {
  position: absolute;
  bottom: 1em;
  left: auto;
  right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: calc(100% - 2em);

  & button {
    min-width: 80px; // Ignored by macOS Chrome
  }
}

#settings-dialog > div {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 640px;
  height: 480px;
  padding: 1em;
  background-color: white;
  color: black;
}

.user-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto auto;
  grid-template-columns: max-content auto auto;
  grid-column-gap: 4px;
  grid-row-gap: 3px;

  &>* {
    -ms-grid-row-align: center;
    align-self: center;
    display: block; // Needed to make IE grid layout work
  }

  &>.colspan {
    grid-column: 2 / span 2;
  }

  &>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  &>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  &>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  &>*:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  &>*:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  &>*:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  &>*:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  &>*:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  &>*:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  &>*:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  &>*:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  &>*:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }

  &>*:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  &>*:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }

  &>*:nth-child(15) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  &>*:nth-child(16) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
}

#alert-dialog > div {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 320px;
  height: 240px;
  padding: 1em;
  background-color: white;
  color: black;
}

input, button, select, textarea, optgroup, option { // Ignored by macOS Chrome for input[type=submit]
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.search-section {
  position: absolute;
  width: calc(100% - 2em);
  top: 15.5em;

  & label, input {
    margin-right: 0.5em;
  }
}

#search-message {
  margin: 4px 0;
  padding: 2px;
}

#atlas-message {
  margin-bottom: 12pt;
}

.city-table-wrapper {
  max-height: 176px;
  overflow: auto;
  border: darkgray 1px solid;
}

@media only screen and (max-height: 479px) {
  #settings-dialog > div {
    height: 320px;
  }

  .city-table-wrapper {
    max-height: 64px;
  }
}

#city-table {
  border-spacing: 0;
  width: 100%;
  &>tr:not(:first-child) {
    cursor: pointer;
  }

  & td, th {
    padding: 2px 2px 2px 10px;

    &:first-child {
      text-align: center;
    }

    &:nth-child(2) {
      text-align: left;
    }

    &:nth-child(3) {
      text-align: right;
    }

    &:nth-child(4) {
      text-align: right;
      padding-right: 10px;
    }
  }
}

.rowguide {
  background-color: #F2F8FF;
}

.searching {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.searching:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #0AF transparent #0AF transparent;
  animation: searching 1.2s linear infinite;
}

@keyframes searching {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.planet-track {
  stroke: $planet-grid;
  stroke-width: 0.25px;
  fill: none;
}

.risen-track {
  stroke: $risen-track;
  stroke-width: 0.5px;
}

.constellation {
  font-family: $constellation-font;
  font-size: 2.5px;
  text-anchor: middle;
  fill: $planet-grid;
  user-select: none;
}

#dimmer {
  position: fixed;
  background-color: black;
  opacity: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 5s ease-in;
}

.moving-dot {
  transition-property: cx, cy, fill, opacity;
  transition-duration: 2s;
}

.leap-second {
  .moving-dot { fill: #F55; }

  #dot-56 { cx: 32.673; cy: 12.841; }
  #dot-57 { cx: 35.977; cy: 11.473; }
  #dot-58 { cx: 39.388; cy: 10.397; }
  #dot-59 { cx: 42.880; cy:  9.623; }
  #dot-60 { cx: 46.427; cy:  9.156; }
}

.neg-leap-second {
  .moving-dot { fill: #F55; }

  #dot-56 { cx: 34.310; cy: 12.121; }
  #dot-57 { cx: 39.388; cy: 10.397; }
  #dot-58 { cx: 44.648; cy:  9.351; }
  #dot-59 { cx: 50.000; cy:  9.000; opacity: 0; }
  #dot-60 { opacity: 0; }
}

.stale-forecast {
  fill: #999;
}

.month-of-leap-second {
  fill: #9F9
}

.month-of-neg-leap-second {
  fill: #C6F
}

.signal-meter {
  fill: rgba(63, 255, 63, 0.30)
}

.signal-level-1 {
  .signal-bar-1 {
    fill: #0F0;
  }
}

.signal-level-2 {
  .signal-bar-1, .signal-bar-2 {
    fill: #0F0;
  }
}

.signal-level-3 {
  .signal-bar-1, .signal-bar-2, .signal-bar-3 {
    fill: #0F0;
  }
}

.signal-level-4 {
  .signal-bar-1, .signal-bar-2, .signal-bar-3, .signal-bar-4 {
    fill: #0F0;
  }
}

.signal-level-5 {
  .signal-bar-1, .signal-bar-2, .signal-bar-3, .signal-bar-4, .signal-bar-5 {
    fill: #0F0;
  }
}

.signal-lost .no-signal {
  display: block !important;
}

#low-battery {
  display: none;
}

#low-battery-text {
  fill: red;
  font-size: 2px;
}
