@import '../node_modules/simple-keyboard/build/css/index.css';

$std-font: Verdana, 'DejaVu Sans', sans-serif;
$clock-face-font: 'Arial Unicode MS', Arial, Helvetica, sans-serif;
$constellation-font: Astronomy, sans-serif;
$dialog-font: Arial, sans-serif;
$planet-grid: #369;
$clock-border: #69C;
$risen-track: rgba(102, 204, 153, 0.5);

html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  --background-color: midnightblue;
  --clock-face-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: white;
  background: var(--background-color);
  font-family: $std-font;
  cursor: none;
}

@font-face {
  font-family: Astronomy;
  src: url('assets/Astronomy.ttf');
  unicode-range: U+263C-2653;
}

label, span, text, #settings-btn {
  user-select: none;
}

label {
  white-space: nowrap;
}

#marquee-outer-wrapper {
  position: fixed;
  left: 0;
  right: 235px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: var(--background-color);
  font-size: 14px;
  padding: 2px 1em;
  overflow: hidden;
  white-space: nowrap;
}

#marquee-wrapper {
  display: inline-block;
  flex: 1 0 auto;
  position: relative;
  background: inherit;
  color: inherit;
  font: inherit;
  overflow: hidden;
}

.marquee-spacer {
  display: inline-block;
  background: inherit;
  color: inherit;
  font: inherit;
  user-select: none;
}

#marquee {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: inherit;
  color: inherit;
  font: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
}

#settings-btn {
  margin: 0 8px 0 4px;
  position: relative;
  top: -8px;
}

.weather-logo {
  position: fixed;
  right: 0;
  bottom: -6px;

  > span {
    display: none;
  }
}

@media only screen and (max-height: 600px), only screen and (max-device-height: 600px) {
  #marquee {
    right: 128px;
  }

  .weather-logo {
    zoom: 0.75;
  }
}

#clock-container {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(1.556 * (100vh - 2em));
  padding: 1em;
  vertical-align: middle;
  overflow: visible;
  background: var(--background-color);
}

.clock-container-ie-fix {
  height: 100%;
}

@media only screen and (max-aspect-ratio: 43 / 27) {
  #clock-container {
    width: calc(100vw - 4em);
  }
}

#clock {
  font-family: $std-font;
  fill: white;
  overflow: visible;
}

.clock-face {
  font-family: $clock-face-font;
  font-size: 10px;
  letter-spacing: -0.05em;
  text-anchor: middle;
  fill: white;
  user-select: none;
}

.hour-temps,
.hour-pops {
  font-size: 1.6px;
  text-anchor: middle;
  fill: white;
  user-select: none;

  & .temp-by-hour {
    fill: #AAA;
  }
}

.small-percent {
  font-size: 0.667em;
  padding-bottom: 0.2em;
}

.hour-icon {
  &.vertical {
    opacity: 1;
  }

  &.circular {
    opacity: 0.7;
  }
}

.hour-info-show {
  opacity: 1;
  transition: opacity 1s;

  &.circular {
    opacity: 0.7;
    transition: opacity 1s;
  }
}

.hour-info-hide, {
  opacity: 0;
  transition: opacity 1s;
}

#face {
  stroke-width: 1px;
  fill: var(--clock-face-color);
  stroke: $clock-border;
}

#hour-hand, #min-hand, #sec-hand {
  stroke-width: 1px;
  fill: #339;
  stroke: #66F;
}

#hourly-forecast-start, #hourly-forecast-end {
  stroke-width: 0;
  fill: #69C;
  opacity: 0.6;
}

#sec-hand { stroke: #F55; }

#subhub { fill: #66F; }

#hub { fill: #F55; }

#day-of-week, #date, #month {
  font-size: 10px;
}

#year {
  font-size: 8px;
}

#utc-date {
  display: none;
  font-size: 2.5px;
}

#time {
  font-size: 10px;
}

#dut1-label, #dut1, #dtai, #dtai-label {
  font-size: 2px;
  fill: #888;
}

#city {
  font-size: 3px;
}

#current-temp, #curr-temp-balance-space {
  font-size: 16px;
}

#indoor-temp {
  font-size: 10px;
}

#feels-like, #humidity {
  font-size: 6px;
}

#indoor-humidity {
  font-size: 3px;
}

.small-caption {
  font-size: 2.5px;
}

#timezone {
  font-size: 2px;
  fill: #888;
}

.dialog-wrapper {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.67);
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: $dialog-font;
  font-size: 14px;
  cursor: auto;
}

.dialog-buttons {
  position: absolute;
  bottom: 1em;
  right: 1em;
  left: 1em;
  display: flex;
  align-items: center;

  & button {
    min-width: 80px; // Ignored by macOS Chrome

    &.admin {
      min-width: 64px;
      padding-left: 0.25em;
      padding-right: 0.25em;
    }
  }

  & button:not(:first-child), span:not(:first-child) {
    margin-left: 0.5em;
  }
}

.version-number {
  flex-grow: 1;
  color: #CCC;
  font-size: smaller;
}

.alert-buttons, .confirm-buttons {
  position: absolute;
  bottom: 1em;
  left: auto;
  right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: calc(100% - 2em);

  & button {
    margin: 0 1em;
    min-width: 80px; // Ignored by macOS Chrome
  }
}

#settings-dialog > div {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 640px;
  height: 480px;
  padding: 1em;
  background-color: white;
  color: black;
}

.compact-ui {
  input[type='text'], select, input[type='button'], input[type='submit'], button {
    -webkit-appearance: none;
    appearance: none;
    padding: 2px;
    border: 1px solid #AAA;
  }

  input[type='button'], input[type='submit'], button, select {
    padding: 2px 0.6em;
    border-radius: 3px;
    background: linear-gradient(to bottom, #EEE, #CCC);
  }

  select {
    padding-left: 0.4em;
    padding-right: 1.25em;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJhbmdsZS1kb3duIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtYW5nbGUtZG93biBmYS13LTEwIiByb2xlPSJpbWciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiM0NDQiIGQ9Ik0gMTQzLjMzIDM1Mi4zIEwgOS44NDYgMjEzLjk0NCBDIDAuNjc5IDIwNC41NDQgLTMuMjI3IDE5OC40MTQgNS45MzkgMTg5LjExNCBMIDI1LjM4IDE2OS4zODQgQyAzNC41NDggMTU5Ljk4NCAzNi41IDE2My44NTQgNDUuNTY5IDE3My4yNTQgTCAxNTkuNTE2IDI4Ny43MSBMIDI3Mi42NzQgMTY5LjQ0OSBDIDI4MS44NCAxNjAuMDQ5IDI4NC4yOSAxNTcuOTM0IDI5My4zNjEgMTY3LjMzNCBMIDMxNC4yMzUgMTkwLjczOSBDIDMyMy40MDEgMjAwLjEzOSAzMjAuNTA3IDIwMi42MDUgMzExLjM0IDIxMS45MDUgTCAxNzYuMjkxIDM1Mi4zIEMgMTY3LjMxOSAzNjEuNyAxNTIuNDk2IDM2MS43IDE0My4zMyAzNTIuMyBaIi8+Cjwvc3ZnPg=='), linear-gradient(to bottom, #EEE, #CCC);
    background-repeat: no-repeat, repeat;
    background-position: right .2em top 50%, 0 0;
  }
}

.user-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto auto;
  grid-template-columns: max-content auto auto;
  grid-column-gap: 4px;
  grid-row-gap: 3px;

  &>* {
    -ms-grid-row-align: center;
    align-self: center;
    display: block; // Needed to make IE grid layout work
  }

  &>.colspan {
    grid-column: 2 / span 2;
  }

  &>.colspan-full {
    grid-column: 1 / span 3;
  }

  &>.rowspan {
    display: -ms-grid;
    display: grid;
    grid-row: 4 / span 2;
    grid-template-columns: auto auto;
    grid-row-gap: 2px;
    transform: scale(0.8);
    margin: -5px -20px;

    &>* {
      align-self: center;
      display: block; // Needed to make IE grid layout work
      justify-self: center;
    }
  }

  // I'd like get rid of the -ms-prefixed properties, but Firefox styling doesn't come out right if I do.
  &>*:nth-child(1) {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    -ms-grid-column: 1;
  }

  &>*:nth-child(2) {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 2;
    -ms-grid-column: 2;
  }

  &>*:nth-child(3) {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 3;
    -ms-grid-column: 3;
  }

  &>*:nth-child(4) {
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 1;
    -ms-grid-column: 1;
  }

  &>*:nth-child(5) {
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 2;
    -ms-grid-column: 2;
  }

  &>*:nth-child(6) {
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 3;
    -ms-grid-column: 3;
    white-space: nowrap;
  }

  &>*:nth-child(7) {
    grid-row: 3;
    -ms-grid-row: 3;
    grid-column: 1;
    -ms-grid-column: 1;
  }

  &>*:nth-child(8) {
    grid-row: 3;
    -ms-grid-row: 3;
    grid-column: 2;
    -ms-grid-column: 2;
  }

  &>*:nth-child(9) {
    grid-row: 3;
    -ms-grid-row: 3;
    grid-column: 3;
    -ms-grid-column: 3;
    white-space: nowrap;
  }

  &>*:nth-child(10) {
    grid-row: 4;
    -ms-grid-row: 4;
    grid-column: 1;
    -ms-grid-column: 1;
  }

  &>*:nth-child(11) {
    grid-row: 4;
    -ms-grid-row: 4;
    grid-column: 2;
    -ms-grid-column: 2;
  }

  // 12, top half

  &>*:nth-child(13) {
    grid-row: 5;
    -ms-grid-row: 5;
    grid-column: 1;
    -ms-grid-column: 1;
  }

  &>*:nth-child(14) {
    grid-row: 5;
    -ms-grid-row: 5;
    grid-column: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }

  // 12, bottom half

  &>*:nth-child(15) {
    grid-row: 6;
    -ms-grid-row: 6;
    grid-column: 1;
    -ms-grid-column: 1;
  }
}

.squeeze-user-options {
  grid-row-gap: 0;
}

.squeeze-user-options-more {
  grid-row-gap: 0;

  input, select {
    margin: 1px 2px;
  }
}

@supports (-moz-appearance: none) {
  .user-options  {
    grid-row-gap: 2px;
  }
}

#alert-dialog, #confirm-dialog {
  > div {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 320px;
    height: 240px;
    padding: 1em;
    background-color: white;
    color: black;
  }
}

input, button, select, textarea, optgroup, option { // Ignored by macOS Chrome for input[type=submit]
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.search-section {
  position: absolute;
  width: calc(100% - 2em);
  top: 15.5em;

  & label, input {
    margin-right: 0.5em;
  }

  &.no-indoor-outdoor {
    top: 13.5em;
  }
}

#search-message {
  margin: 4px 0;
  padding: 2px;
}

#atlas-message {
  margin-bottom: 12pt;
}

.city-table-wrapper {
  max-height: 176px;
  overflow: auto;
  border: darkgray 1px solid;
}

@media only screen and (max-height: 479px) {
  #settings-dialog > div {
    height: 320px;
  }

  .city-table-wrapper {
    max-height: 64px;
  }
}

#city-table {
  border-spacing: 0;
  width: 100%;

  &>tr:not(:first-child) {
    cursor: pointer;
  }

  & td, th {
    padding: 2px 2px 2px 10px;

    &:first-child {
      text-align: center;
    }

    &:nth-child(2) {
      text-align: left;
    }

    &:nth-child(3) {
      text-align: right;
    }

    &:nth-child(4) {
      text-align: right;
      padding-right: 10px;
    }
  }
}

.rowguide {
  background-color: #F2F8FF;
}

.searching {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.searching::after {
  content: ' ';
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #0AF transparent;
  animation: searching 1.2s linear infinite;
}

@keyframes searching {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.planet-track {
  stroke: $planet-grid;
  stroke-width: 0.25px;
  fill: none;
}

.risen-track {
  stroke: $risen-track;
  stroke-width: 0.5px;
}

.constellation {
  font-family: $constellation-font;
  font-size: 2.5px;
  text-anchor: middle;
  fill: $planet-grid;
  user-select: none;
}

#dimmer {
  position: fixed;
  background-color: black;
  opacity: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 5s ease-in;
}

.moving-dot {
  transition-property: cx, cy, fill, opacity;
  transition-duration: 2s;
}

.leap-second {
  .moving-dot { fill: #F55; }

  #dot-56 { cx: 32.673; cy: 12.841; }
  #dot-57 { cx: 35.977; cy: 11.473; }
  #dot-58 { cx: 39.388; cy: 10.397; }
  #dot-59 { cx: 42.880; cy:  9.623; }
  #dot-60 { cx: 46.427; cy:  9.156; }
}

.neg-leap-second {
  .moving-dot { fill: #F55; }

  #dot-56 { cx: 34.310; cy: 12.121; }
  #dot-57 { cx: 39.388; cy: 10.397; }
  #dot-58 { cx: 44.648; cy:  9.351; }
  #dot-59 { cx: 50.000; cy:  9.000; opacity: 0; }
  #dot-60 { opacity: 0; }
}

.stale-forecast {
  fill: #999;
}

.month-of-leap-second {
  fill: #9F9;
}

.month-of-neg-leap-second {
  fill: #C6F;
}

.signal-meter {
  fill: rgba(63, 255, 63, 0.25);
}

.meter-tint .signal-meter {
  fill: rgba(63, 63, 255, 0.40);
}

.signal-level-1 {
  .signal-bar-1 {
    fill: #0F0;
  }
}

.signal-level-1.meter-tint {
  .signal-bar-1 {
    fill: #5BF;
  }
}

.signal-level-2 {
  .signal-bar-1, .signal-bar-2 {
    fill: #0F0;
  }
}

.signal-level-2.meter-tint {
  .signal-bar-1, .signal-bar-2 {
    fill: #5BF;
  }
}

.signal-level-3 {
  .signal-bar-1, .signal-bar-2, .signal-bar-3 {
    fill: #0F0;
  }
}

.signal-level-3.meter-tint {
  .signal-bar-1, .signal-bar-2, .signal-bar-3 {
    fill: #5BF;
  }
}

.signal-level-4 {
  .signal-bar-1, .signal-bar-2, .signal-bar-3, .signal-bar-4 {
    fill: #0F0;
  }
}

.signal-level-4.meter-tint {
  .signal-bar-1, .signal-bar-2, .signal-bar-3, .signal-bar-4 {
    fill: #5BF;
  }
}

.signal-level-5 {
  .signal-bar-1, .signal-bar-2, .signal-bar-3, .signal-bar-4, .signal-bar-5 {
    fill: #0F0;
  }
}

.signal-level-5.meter-tint {
  .signal-bar-1, .signal-bar-2, .signal-bar-3, .signal-bar-4, .signal-bar-5 {
    fill: #5BF;
  }
}

.signal-lost .no-signal {
  display: block !important;
}

#low-battery {
  display: none;
}

#low-battery-text {
  fill: red;
  font-size: 2px;
}

.forecast-limited {
  fill: #FFB;
}

#temperature-detail {
  font-size: 1.5px;
  fill: #AAA;
}

.equisolstice {
  fill: #FA0;
}

#gps-icon {
  display: none;
}

.keyboard {
  display: none;
  left: 4em;
  position: absolute;
  top: 4em;
  z-index: 9999;
}

.keyboard-title {
  background-color: #ECECEC;
  border-radius: 5px 5px 0 0;
  color: black;
  max-width: 800px;
  padding-top: 2px;
  position: relative;
  text-align: center;
  user-select: none;
  width: 60vw;

  background-image: linear-gradient(0deg, #BBB 16.67%, rgba(0, 0, 0, 0) 16.67%, rgba(0, 0, 0, 0) 50%, #BBB 50%,
    #BBB 66.67%, rgba(0, 0, 0, 0) 66.67%, rgba(0, 0, 0, 0) 100%);
  background-size: 6.00px 6.00px;

  > span {
    background-color: #ECECEC;
    display: inline-block;
    line-height: 15px;
    padding: 1px;
    position: absolute;
    right: 0.8em;
    top: 0;

    > span {
      background-color: white;
      border: 1px solid #555;
      color: #555;
      display: inline-block;
      font-size: 0.75em;
      font-weight: bold;
      padding: 0 4px 0 3px;

      &:hover {
        background-color: #E0E0E0;
      }
    }
  }
}

.simple-keyboard {
  border-radius: 0 0 5px 5px;
  max-width: 800px;
  position: absolute;

  .hg-button {
    color: black;

    span {
      min-width: 20px;
      text-align: center;
    }
  }

  .hg-row {
    min-width: 510px;
  }
}

.key-locked {
  background-color: #C0C0C0 !important;
}

.arrow-key {
  max-width: 7%;
}

.clear-key {
  max-width: 10%;
}

.caps-lock span {
  font-size: 0.75em !important;
  transform: scaleY(1.333) !important;
}

#update-available {
  display: none;
  animation: pulse ease 4s infinite;
}

@keyframes pulse {
  0% {opacity: 0.4;}
  25% {opacity: 0.8;}
  50% {opacity: 1;}
  75% {opacity: 0.8;}
  100% {opacity: 0.4;}
}

#update-caption {
  display: none;
  font-size: 1.5px;
  font-style: italic;
  fill: #AAA;
}

.update-btn-wrapper {
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
}

#update-btn-backdrop {
  background-color: #0C0;
  border-radius: 6px;
  bottom: -4px;
  left: -4px;
  position: absolute;
  right: -4px;
  top: -4px;
}

#settings-update {
  margin-left: 0;
  position: relative;
}

#big-text-dialog > div {
  font-size: 3vh;
  line-height: 3.6vh;
  --page-lines: 22;
  --page-height: 80;
  position: absolute;
  margin: auto;
  top: 7vh; left: 0; bottom: auto; right: 0;
  width: 80vw;
  max-height: 80vh;
  padding: 1em 1.5em 1em 1em;
  background-color: white;
  color: black;

  .dialog-text {
    max-height: calc(var(--page-lines, 1) * 3.6vh);
    overflow: auto;
    position: relative;
    --fade-to: black;
    --top-hr-margin: calc(0.6em - 1px);
    --bottom-hr-margin: calc(0.6em - 1px);

    .dialog-fader {
      background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), var(--fade-to, black));
      bottom: 0;
      height: 1.2em;
      left: 0;
      position: sticky;
      right: 0;
    }

    hr {
      border-width: 1px;
      // sass-lint apparently isn't smart enough to realize the two vars are different.
      margin: var(--top-hr-margin) 0.5em var(--bottom-hr-margin); // sass-lint:disable-line shorthand-values
      padding: 0;
    }
  }

  .dialog-close {
    background-color: white;
    border: 2px solid black;
    cursor: default;
    height: 1em;
    position: absolute;
    right: 0.1em;
    text-align: center;
    top: 0.1em;
    user-select: none;
    width: 1em;

    > div {
      position: relative;
      top: -0.06em;
    }
  }
}

.moon-info {
  opacity: 0;
}

.sun-moon-show {
  transition: opacity 1s;
  opacity: 1;
}

.sun-moon-hide {
  transition: opacity 1s;
  opacity: 0;
}

.extra {
  fill: white;
  paint-order: stroke;
  stroke: black;
  stroke-width: 0.75;
}

.flash {
  animation: flash 0.3s;
}

@keyframes flash {
  50% {
    background: #6C6;
  }

  100% {
    background: transparent;
  }
}
